.menu {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  width: 25%;
  /* width 대신에 사용 가능 flex-grow: 1; */
  background-color: gold;
  transition: 0.5s;
}

.menu-item:hover {
  width: 35%;
  /* flex-grow: 1.5; */
  background-color: crimson;
}

.menu-link {
  display: block; /* a태그가 기본이 inline 이므로 block 속성을 부여함 */
  padding: 1em; /* 현재 내 폰트 사이즈 만큼 -> 즉 1em은 1.2rem */
  font-size: 1.2rem; /* HTML Root 사이즈를 사용하겠다 */
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: white;
}

/* search Button */
.search-form {
  display: flex;
  height: 40px; /* 기본값이 align-items: stretch; 이므로 부모 높이만큼 늘어난다 */
}

.search-form input[type="search"] {
  flex: 1; /* 화면이 움직임에 따라서 늘어나야 할 아이에게 flex:1을 부여한다*/
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
}

.search-form input[type="submit"] {
  width: 4em;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
  background-color: gold;
}

/* bullet list */
.info-list-item {
  display: flex; /* bullet과 내용을 각각 넓이를 가지게 하기 위해서 flex를 전달한다 */
  margin: 0.5rem 0;
}

.info-list-item:before {
  content: "❤";
  margin-right: 0.5em;
}

/* message */
.user-item {
  display: flex;
  margin-bottom: 1.5em;
  align-items: center;
}

.user-photo {
  margin-right: 0.5rem;
  flex-shrink: 0; /* flex-shrink의 기본값은 0이다 즉 줄어들면 그림도 줄어들게 되는데 0으로 바꾸게 되면 줄여도 안찌르거진다*/
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* cover를 하게 되면 이미지가 공간에 맞게 설정된다 */
  background-size: 150%; /* %를 사용하게 되면 이미지가 깨지지는 않는다 */
}
